/* navbar-style */
.home-header{
    background-color: #FAD062;
    height: 85vh;
}
.home-header .bg-dark{
    background-color: transparent!important;
}
.home-header .navbar-nav li a{
    font-size: 14px;
    color: #474747!important;
}
.home-header .navbar-nav li{
    margin-right: 30px;
}

.home-header .navbar-nav li:last-child{
    margin-right: 0;
}

/* header-content-style */

.header-content{
    margin-top: 75px;
}
.header-content .content-left h1{
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #111430;
    font-weight: 700;
    font-family: "Poppins";
}
.call-to-action-btn{
    width: 150px;
    background: #111430 ;
}

@media only screen and (max-width: 600px){

    .home-header{
        background-color: #FAD062;
        height: 70vh;
    }
    .header-content{
        margin-top: 20px;
    }
    .header-content .content-left h1{
        font-size: 40px;
        letter-spacing: 0px;
        line-height: 1.2;
        color: #111430;
        font-weight: 700;
        font-family: "Poppins";
    }
    .hero-right-img img{
        display: none;
    }
}
