body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.color-primary{
  color: #7AB259;
}
.text-primary{
  color: #111430;
}
.color-yellow{
  color: #FAD062;
}
